html{
	font-size: 16px;
}
body{
	background: #f5f5f5;
}
.b_b{
	border-bottom: 1px solid #dcdcdc;
}
.b_l{
	border-left: 1px solid #dcdcdc;
}
.green{
	color: #5ed200 !important;
}
.num_red{
	color: #f3374b !important;
}
.p_t_10{
	padding-top: 10px;
}

.p_l_5{
	padding-left: 5px;
}
.p_l_20{
	padding-left: 20px;
}
.m_l_40{
	margin-left: 0.4rem !important;
}
.bNone span{
	border: none !important;
}
.topOn{
	background: #d9253c; 
}
.topOn span{
	color: #fff;
	border: none !important;
}
.topClick{
	background: #d9253c !important; 
}
.topClick span{
	color: #fff !important;
	border: none !important;
}
.top_wrap{
	position: relative;
	height: 0.55rem;
	width: 100%;
}
.top_head{
	position: fixed;
	top: 0;
	z-index: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background: #333333;
	width: 100%;
	height: 0.55rem;
	color: #999999;
}
.markfive{
	width: 0.5rem;
	height: 0.5rem;
	margin: 0 0.2rem;
}
.top_head .left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}
.top_head .left .logo{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 1.35rem;
	height: 100%;
	padding: 0 0.2rem;
}
.top_head .left .logo img{
	height: 0.3rem;
	width: 1rem;
	/*margin-bottom: 2px;*/
}
.top_head .left .logo span{
	font-size: 0.16rem;
}
.top_head .left .nav{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
.top_head .nav .child{
	width: 1rem;
	display: inline-flex;
	align-items: center;
	height: 100%;
	background: #333;
}
.top_head .nav .child:hover{
	background: #d9253c;
	cursor: pointer;
}
.top_head .nav .child:hover span{
	color: #fff;
	border: none;
}
.top_head .nav .child:first-child span{
	border-left: none;
}

.top_head .nav .child span{
	display: inline-block;
	font-size: 0.16rem;
	color: #999999;
	width: 100%;
	height: 0.35rem;
	line-height: 0.35rem;
	text-align: center;
	box-sizing: border-box;
	border-left: 1px solid #999999;
}
.top_head .right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.top_head .right .gray_circle{
	display: inline-block;
	height: 0.35rem;
	line-height: 0.35rem;
	font-size: 0.16rem;
	border-radius: 0.35rem;
	width: 1rem;
	text-align: center;
	border: 1px solid #999999;
}
.top_head .right .search_cover{
	display: inline-flex;
	align-items: center;
	width: 1.75rem;
	height: 0.35rem;
	position: relative;
	margin-right: 0.2rem
}
.top_head .search_cover input{
	width: 100%;
	outline: none;
	background: #333333;
	border: 0.5px solid #999999;
	height: 0.35rem;
	line-height: 0.35rem;
	border-radius: 0.35rem;
	box-sizing: border-box;
	padding-left: 5px;
	color: #999999;
}
.top_head .search_cover img{
	position: absolute;
	top: 0.05rem;
	right: 5px;
	height: 0.25rem;
	width: 0.25rem;
}
.top_head .right .user_info{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 14px;
	box-sizing: border-box;
	padding-right: 10px;
}
.top_head .right .user_info span{
	font-size: 0.16rem;
	color: #999999;
	padding: 0 5px;
}
.top_head .right .user_info .headpic{
	width: 25px;
	height: 25px;
}
.top_head .right .user_info .arrow{
	width: 20px;
	height: 20px;
}
.num_cover{
	display: inline-flex;
	min-height: 0.2rem;
	align-items: flex-end;
	justify-content: center;
}
.num_cover .num{
	font-size: 0.18rem;
}
.num_cover .unit{
	font-size: 0.14rem;
	position: relative;
	bottom: 1px;
}
.num_cover img{
	display: inline-block;
	width: 12px;
	height: 15px;
}

