/*媒体类兼容*/
@media screen and (max-width: 1280px){
	.content_cover>div:first-child{
		width: 42%;
	}
	.content_cover>div:last-child{
		width: 58%;
	}
}
@media screen and (min-width: 1367px) and (max-width: 1440px){
	.content_cover>div{
		height: 9.6rem !important;
	}
	
	.content_cover>div:first-child{
		width: 46%;
		margin-right: 0.1rem !important;
	}
	.content_cover>div:last-child{
		width: 54%;
	}
	.echart_mark{
		transform: scale(0.9);
	}
	.echart_mark_two{
		transform: scale(1);
	}
	.lchild .chart_cover .chart_row .chart_child{
		height: 1.7rem !important;
	}
	.chart_table .tchild{
		height: 0.9rem !important;
	}
	.chart_table{
		padding-bottom: 0.1rem !important;
	}
	.lchild{
		margin-top: 0.1rem !important;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
	.content_cover{
		padding: 0.1rem !important;
		padding-top: 0 !important;
	}
	.content_cover>div{
		height: 9.23rem !important;
	}
	.content_cover>div:first-child{
		width: 45%;
		margin-right: 0.1rem !important;
	}
	.content_cover>div:last-child{
		width: 55%;
	}
	.echart_mark{
		transform: scale(0.85);
	}
	.echart_mark_two{
		transform: scale(1);
	}
	
	.c_half .lchild .head_cover{
		padding: 0.1rem 0.15rem !important;
	}
	.lchild{
		margin-top: 0.1rem !important;
	}
}

/*@media screen and (max-height: 768px){
	html{
		font-size: 12.5px !important;
	}
	.top_wrap{
		height: 60px;
	}
	.top_head{
		height: 50px;
	}
}*/
/*@media screen and (min-width: 1680px){
	html{
		font-size: 18px;
	}
}*/
.content_cover{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0.2rem;
	padding-top: 0;
	color: #333333;
}
.content_cover>div{
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 9.48rem;
}
.content_cover>div:first-child{
	margin-right: 0.2rem;
}
.c_half .lchild{
	width: 100%;
	/*height: 200px;*/
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	margin-top: 0.15rem; 
}
.c_half .lchild .head_cover{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.15rem 0.2rem;
}
.c_half .lchild .head_cover .title_cover{
	display: inline-flex;
	align-items: center;

}
.c_half .lchild .head_cover .title_cover img{
	width: 0.25rem;
	height: 0.25rem;
}
.c_half .lchild .head_cover .title_cover span{
	padding-left: 5px;
	font-size: 0.2rem;
	color: #333333;
}
.c_half .lchild .head_cover .title_cover .t_nav{
	display: inline-block;
	height: 0.35rem;
	line-height: 0.35rem;
	border: 1px solid #dcdcdc;
	border-radius: 0.35rem;
	box-sizing: border-box;
	width: 1rem;
	cursor: pointer;
	text-align: center;
	font-size: 0.14rem;
	color: #333333;
	margin-left: 10px;
}
.c_half .lchild .head_cover .title_cover .t_nav:hover{
	background: #f3374b;
	border: 0px;
	color: #fff;
}
.c_half .lchild .head_cover .t_on{
	background: #f3374b;
	border: 0px !important;
	color: #fff !important;
}
.c_half .lchild .head_cover .op_cover{
	display: inline-flex;
	align-items: center;
}
.c_half .lchild .head_cover .op_cover span{
	font-size: 0.18rem;
	color: #999999;
	cursor: pointer;
}
.c_half .lchild .head_cover .op_cover img{
	width: 0.2rem;
	height: 0.2rem;
	cursor: pointer;
}
.c_half .lchild .list_cover{
	width: 100%;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: flex-end; 
	box-sizing: border-box;
	padding: 0 0.15rem;
}
.mark_child{
	height: 2.08rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*.mark_head{
	height: 0.6rem;
	padding: 0 0.2rem !important;
}*/

.c_half .lchild .list_cover .list_content{
	height: 1.38rem;
	overflow-y: auto;
	width: 100%;
	/*margin-bottom: 10px;*/
}
.c_half .lchild .list_cover .list_content .li_row{
	display: flex;
	width: 95%;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.2rem;
	/*box-sizing: border-box;*/
}
.c_half .lchild .list_cover .list_content .li_row span{
	font-size: 0.16rem;
	color: #333333;
}
.c_half .lchild .list_cover .list_content .li_row .time{
	color: #999999;
}

.lchild .oneTable{
	width: 100%;
	border-top: 0.2rem solid #fff;
	border-bottom: 0.2rem solid #fff;
}
.lchild .oneTable tr td{
	width: 20%;
	box-sizing: border-box;
	border-right: 1px solid #dddddd;
	min-height: 0.3rem
}
.lchild .oneTable tr td:last-child{
	border-right: none;
}
.lchild .oneTable tr td div{
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 0.3rem;
	justify-content: center;
}
.lchild .oneTable tr td div .red{
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #f3374b;
	margin-right: 5px;
	border-radius: 10px;
}
.lchild .oneTable tr td div span{
	font-size: 0.16rem;
	color: #333333;
}
.slide_my{
	height: 6rem;
}
.lchild .chart_cover{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 0.2rem;
	padding-bottom: 0.15rem;
	align-items: center;
	justify-content: flex-start;
	box-sizing: border-box;
}
.lchild .chart_cover .chart_row{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin-top: 0.1rem;
}
.lchild .chart_cover .chart_row:first-child{
	margin-top: 0;
}
.lchild .chart_cover .chart_row:last-child{
	/*margin-bottom: 0.1rem;*/
}
.lchild .chart_cover .chart_row .chart_child{
	width: 33%;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	height: 1.64rem;
	padding: 0.1rem;
	padding-bottom: 0;
	box-sizing: border-box;
	margin-right: 0.1rem;
}
.lchild .chart_cover .chart_row .chart_child:last-child{
	margin-right: 0;
}
.chart_child .chart_title{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.chart_child .chart_title span:first-child{
	color: #333333;
	font-size: 0.16rem;
}
.chart_child .chart_title .time{
	color: #999999;
	font-size: 0.12rem;
}
.chart_child .chart_content{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 0.8rem;
	box-sizing: border-box;
}

.chart_child .chart_content_two{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 1.1rem;
	box-sizing: border-box;
}
.chart_child .chart_one{
	width: 1.1rem;
	position: relative;
	/*height: 1.1rem;*/
	/*width: 1.1rem;*/
	height: 0.8rem;
}
.chart_child .chart_two{
	/*margin-top: 0.878rem;*/
	width: 1.1rem;
	position: relative;
	height: 1.1rem;
}
.chart_child .chart_gauga{
	width: 1.5rem;
	position: relative;
	/*height: 1.1rem;*/
	/*width: 1.1rem;*/
	height: 1rem !important;
}

.chart_child .chart_foot_one{
	width: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.chart_child .chart_foot_one .row:last-child{
	margin-top: 5px;
}
.chart_child .chart_foot_two{
	width: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}
.chart_child .chart_foot_two .fchild{
	width: 50%;
	border-right: 1px solid #dcdcdc;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.chart_child .chart_foot_two .fchild:last-child{
	border-right: 0px;
}
.chart_child .chart_foot_two .fchild span{
	font-size: 0.12rem;
	color: #333333;
}
.chart_child .chart_foot_two .fchild span:last-child{
	margin-top: 0.05rem;
	font-size: 0.14rem;
}
.chart_child .chart_foot_two .ochild{
	width: 50%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.chart_child .chart_foot_two .ochild span{
	font-size: 0.12rem;
	color: #333333;
}
.al_left{
	align-items: flex-start;
}
.al_right{
	align-items: flex-end;
}
.echart_mark{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0.15rem;
	left: 20%;
	min-height: 0.5rem;
}
.echart_mark_two{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0.3rem;
	left: 20%;
	min-height: 0.5rem;
}
.echart_mark_gauge{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -3px;
	left: 10%;
}
.echart_mark_gauge span{
	font-size: 0.16rem;
}
.echart_mark_two span{
	font-size: 0.16rem !important;
}
.echart_mark span{
	font-size: 0.14rem;
	color: #333333;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 0.02rem;
}
.echart_mark span:last-child{
	margin-bottom: 0;
}
.chart_table{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.15rem 0;
	padding-top: 0;
}
.chart_table .tchild{
	width: 34%;
	height: 0.9rem;
	box-sizing: border-box;
	border-right: 1px solid #dcdcdc;
	padding: 0 0.15rem;
}
.chart_table .tchild:first-child{
	padding-left: 0;
}
.chart_table .tchild:last-child{
	padding-right: 0;
}
.chart_table .tchild .chart_content,.chart_table .tchild .chart_content_two{
	height: 0.35rem;
	min-height: 0;
}
.chart_content_three{
	height: 1.2rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
.chart_table .tchild:last-child{
	border-right: 0px;
}

/*.lchild .list_cover .nTable{
	width: 100%;
	box-sizing: border-box;
}
.lchild .list_cover .nTable thead{
	background: #eeeeee;
}
.lchild .list_cover .nTable thead th{
	
	height: 0.3rem;
	color: #999999;
	font-size: 0.14rem;
	font-weight: normal;
}
.lchild .list_cover .nTable tbody{
	background: #fff;
}
.lchild .list_cover .nTable tbody tr td{
	border-right: 0px;
	height: 0.10rem;
	border-bottom: 1px solid #dcdcdc;
	color: #333333;
	font-size: 0.12rem;
	text-align: center;
	min-height: 0;
	padding: 0.1rem 0;
}
.lchild .list_cover .nTable tbody tr td div{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.2rem;
	min-height: 0;
}
.lchild .list_cover .nTable tbody tr td div span{
	font-size: 0.12rem;
}
.lchild .list_cover .nTable tbody tr td div img{
	width: 0.15rem;
	height: 0.15rem;
}
.lchild .list_cover .nTable tbody tr td:nth-child(3){
	text-align: right;
}
.lchild .list_cover .nTable tbody tr td:nth-child(4){
	text-align: left;
	padding-left: 0.2rem;
}
.lchild .list_cover .nTable tbody tr:last-child td{
	border-bottom: 0px;
} */
.tchild .chart_foot_two:last-child{
	margin-top: 0.03rem;
}
/*scrollbar样式调整*/

._mCS_3 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #fff !important;
	box-shadow: 1px 0px 3px #999 !important;
	width: 0.3rem !important;
	height: 0.3rem !important;
	border-radius: 0.3rem !important;
}
._mCS_3 .mCSB_scrollTools .mCSB_dragger{
	
	box-sizing: border-box;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 0.35rem !important;
	cursor: pointer;
	width: 100%;
	z-index: 1;
}
._mCS_3 .mCustomScrollBox>.mCSB_scrollTools{
	width: 0.4rem;
}
._mCS_3 .mCSB_scrollTools .mCSB_draggerRail{
	background: #dcdcdc;
}
.line{
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 2px;
	height: 0;
	background: #f3374b;

}

.nTable{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.nTable .thead{
	width: 100%;
}
 .nTable .tbody{
	width: 100%;
	/*height: 0.75rem;*/
	position: relative;
	/*overflow-y: auto;*/
}
.nTable .hidde{
	width: 100%;
	overflow: hidden;
	height: 0.75rem;
	position: relative;
} 
.nTable .htr,.dtr{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	
}
 .nTable .htr{
	background-color: #eeeeee;
}
 .nTable .htr .th{
	flex-grow: 0;
	height: 0.3rem;
	font-size: 0.14px;
	text-align: center;
	line-height: 0.3rem;
	width: 20%;
	box-sizing: border-box;
	color: #999999;
}
.nTable .htr .colspan{
	width: 80% !important;
}
.nTable .dtr{
	border-bottom: 1px solid #dcdcdc;
}
.nTable .dtr:last-child{
	border-bottom: none;
}
 .nTable .dtr .td{
	height: 0.25rem;
	flex-grow: 0;
	width: 20%;
	padding: 0 0.05rem;
	/*text-align: left;*/
	font-size: 0.12rem;
	text-align: center;
	line-height: 0.25rem;
}
 .nTable .dtr .colspan{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 200px;
}

.lchild .list_cover .nTable .dtr .td span{
	font-size: 0.12rem;
}
.lchild .list_cover .nTable .dtr .td img{
	width: 0.15rem;
	height: 0.15rem;
}
.dtr .colspan>div{
	width: 50%;
}
.text_left{
	text-align: left !important;
}
.text_right{
	text-align: right !important;
}

.nTable .mCSB_container{
	margin-right: 5px !important;
}
.nTable .mCSB_draggerContainer{
	background-color: #eeeeee !important;
	width: 6px !important;
}
.nTable .mCSB_scrollTools{
	width: 2px !important;
}
.nTable .mCSB_dragger{
	left: -1px;
}
.nTable .mCSB_dragger_bar{
	background-color: #999999 !important;
	width: 5px !important;
}
.nTable .mCSB_draggerRail{
	background-color: #c0cbde !important;
}
