.health_wrap{
	box-sizing: border-box;
	padding:.5rem .4rem;
	display: inline-flex;
	height:auto;
	min-height: 1.2rem;
	width:100%;
	flex-direction: column;	
}

.health_wrap .item{
	display: inline-flex;
	height:1.2rem;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 0.5rem;
	padding:0px .4rem;
}

.health_wrap .item>span:nth-child(1){
	display: inline-flex;
	width:40%;
	height:100%;
	justify-content: flex-start;
	align-items: center;
	color:#828282;
	font-size: 0.3rem;
}

.health_wrap .item>span:nth-child(2){
	display: inline-flex;
	width:80%;
	height:100%;
	justify-content: center;
	align-items: center;
	color:#434343;
	font-size: 0.3rem;
}

.health_wrap .red{
	color:#f13721 !important;
}