	
	.search.his{
		justify-content: center;
		align-items: center;
	}
	.search.his i{
		display: inline-flex;
		height:100%;
		width:.45rem;
		background:url(../images/garbage.png) no-repeat center center / 100%;
		margin-right: .24rem;
	}

	.search.his span{
		color:#333333;
		font-style: .35rem;
		letter-spacing: .5px;
	}

	li.more{
		display: inline-flex;
		width:100%;
		height: 1.05rem !important;
		justify-content: center;
		align-items: center;
	}

	li.more i{
		display: inline-flex;
		height:100%;
		width:.45rem;
		background:url(../images/arrow_down.png) no-repeat center center / 100%;
		margin-right: .24rem;
	}

	li.more i.loading{
		display: inline-flex;
		height:100%;
		width:.45rem;
		background:url(../images/loading.gif) no-repeat center center / 100%;
		margin-right: .24rem;
	}

	li.more span{
		color:#333333;
		font-size: 0.35rem;
		letter-spacing: .5px;
	}

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	html {
		-ms-touch-action: none;
	}

	body,ul,li {
		padding: 0;
		margin: 0;
		border: 0;
	}

	body {
		font-size: 12px;
		font-family: ubuntu, helvetica, arial;
		overflow: hidden; /* this is important to prevent the whole page to bounce */
	}	

	#wrapper {
		position: absolute;
		z-index: 1;
		top: 1.5rem;
		bottom: 0px;
		left: 0;
		width: 100%;
		background: #ccc;
		overflow: hidden;
	}

	#scroller {
		position: absolute;
		z-index: 1;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		width: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}

	#scroller ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: left;
	}

	#scroller li {
		/*padding: 0 10px;*/
		/*height: 40px;*/
		/*line-height: 40px;*/
		height:auto;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #fff;
		background-color: #fafafa;
		font-size: 14px;
		box-sizing: border-box;
		padding:0px .28rem;
	}