
.info{
	display:inline-flex;
	width: 100%;
	height:1.84rem;
	padding:0rem 0.46rem 0rem 0.63rem;
	box-sizing: border-box;
	align-items: center;
	position: relative;
	background-color: white;
}

.petotion_btn:active{
	opacity: 0.8;
}

.petotion_btn{
	/*display: inline-flex;*/
	width:2.7rem;
	height:0.9rem;
	background:url(../images/petotion_btn.png) no-repeat center center / 100%;
	border-radius: 5px;
	outline: none;
	border:0;
	position: absolute;
	right:0.46rem;
	font-size: 0.4rem;
	letter-spacing: 1px;
	color:white;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	bottom: 0.35rem;
}

.date span{
	color:#666666;
	font-size:0.34rem;
	display: inline-flex;
	height:100%;
	width:auto;	
	align-items: center;
	padding-left:0.24rem;
	box-sizing: border-box;
}

.date{
	display: inline-flex;	
	height:0.76rem;
	min-width: 0.01rem;
	width:auto;
}

.date i{
	display: inline-flex;
	width:0.76rem;
	height:0.76rem;	
	background:url(../images/man.png) no-repeat center center / 100%;
}

.desc{
	min-height:10rem;
	height:auto;
	background-color: #f8f8fb;
	width:auto;
	box-sizing: border-box;
	padding:0.98rem 0.34rem 0.7rem 0.34rem;	
	position: relative;
}

.desc .cnt{
	display: inline-flex;
	border:1px solid #d3d3d3;
	width:100%;
	min-height:6.38rem;
	height:auto;
	padding:0.74rem 0.88rem 0rem 0.58rem;
	box-sizing: border-box;
}

.desc .cnt p{
	font-size: 0.37rem;
    letter-spacing: 1px;
	color:#333333;
	line-height: 0.8rem;
}

.cadreTitle{
	background: url(../images/bg@1.png) no-repeat center center;
    display: inline-flex;
    width: 4.15rem;
    height: 0.9rem;
    background-size: 100%;
    color: #fff;
    font-size: 0.4267rem;
    align-items: center;
    position: absolute;
    top: -0.45rem;
    left: 4%;
}

.ml_20 {
    margin-left: 0.2rem;
}

.radar{
	display: inline-flex;
	width: 100%;
	height: 400px;
}