
.ued-input-basic::-webkit-input-placeholder{
	font-size: 14px;
	color: #909399;
	letter-spacing: 0.3px;
	font-weight: 100;
}

.ued-input-basic[disabled]{
	cursor: not-allowed;
	background-color: #DCDFE6;
	color:#F5F7FA;
}

.ued-input-basic:focus{
	outline: none;
    border-color: #409eff;
}
.ued-input-basic{
	border: 1px solid #DCDFE6;
	border-radius: 4px;
	width:240px;
	height:40px;
	font-size: 14px;
	color: #909399;
	padding-left:15px;
	letter-spacing: 0;
	line-height: 14px;
	box-sizing: border-box;
}

.ued-input-compose{
	box-sizing: border-box;	
	width:320px;
	height:40px;
	position: relative;
}

.ued-input-compose i{
	display: inline-block;
	width:0px;
	height:0px;
	border-top: 5px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: relative;
	top:-2px;
	left:2px;
	cursor: pointer;
}

.ued-input-compose ul.none{
	display: none;
}

.ued-input-compose ul{
	display: inline-block;
	position: absolute;
	width:80px;
	box-sizing: border-box;
	height:auto;
	min-height: 40px;
	background-color: white;
	top:39px;
	left:0px;
	border:1px solid #d5d5d5;
}
.ued-input-compose ul li{
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	transition: all .2s linear;
}
.ued-input-compose ul li:hover,
.ued-input-compose ul li.hover{
	background-color: #F5F7FA;
	color:#999;
}

.ued-input-compose.ued-input-compose_bg{
	background-color: #F5F7FA ;
}

.ued-input-compose .ued-input-compose-tag{
	box-sizing: border-box;
	width:80px;
	height:100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	border: 1px solid #DCDFE6;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	font-size: 14px;
	color: #909399;
	letter-spacing: 0;
	line-height: 40px;
	cursor: pointer;
}

.ued-input-compose .ued-input-basic{
	height:100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	position: absolute;
	left: 79px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ued-input-basic.ued-input-success{
	border:1px solid #67C23A;	
}

.ued-input-basic.ued-input-error{
	border:1px solid #FA5555;	
}

.ued-input-success,.ued-input-error{
	box-sizing: border-box;	
	width:240px;
	height:40px;
	position: relative;
}

.ued-input-success i{
	display: inline-block;
	width:30px;
	height:30px;
	position: absolute;
	right: 1px;
	bottom: 5px;
	background:url(../images/input_right.png) no-repeat center center;
	background-color: white;	
}

.ued-input-error i{
	display: inline-block;
	width:30px;
	height:30px;
	position: absolute;
	right: 1px;
	bottom: 5px;
	background:url(../images/input_error.png) no-repeat center center;
	background-color: white;	
}

.ued-input-success .ued-input-basic,
.ued-input-success .ued-input-basic:focus{
	border:1px solid #67C23A;
}

.ued-input-error .ued-input-basic,
.ued-input-error .ued-input-basic:focus{
	border:1px solid #FA5555;
}

.ued-input-textarea{
	width:400px;
	min-height:80px;
	height:auto;
	border: 1px solid #DCDFE6;
	border-radius: 4px;
	padding:10px 5px;
	line-height: 20px;
	font-size: 16px;
}

.ued-tag-basic{
	box-sizing: border-box;	
	width:auto;
	min-width: 240px;
	height:40px;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
}