
/*box start*/
.ued-box-basic{
	display: inline-block;
	width:200px;
	height:200px;
	box-sizing: border-box;
	padding:0px;
	margin:0px;
}
.ued-box-padding{
	padding:20px;
}
.ued-box-margin{
	margin:20px;
}
/*box end*/

/*input start*/
.ued-input-basic::-webkit-input-placeholder{
	font-size: 14px;
	color: #909399;
	letter-spacing: 0.3px;
	font-weight: 100;
}

.ued-input-basic[disabled]{
	cursor: not-allowed;
	background-color: #DCDFE6;
	color:#F5F7FA;
}

.ued-input-basic:focus{
	outline: none;
    border-color: #409eff;
}
.ued-input-basic{
	border: 1px solid #DCDFE6;
	border-radius: 4px;
	width:240px;
	height:40px;
	font-size: 14px;
	color: #909399;
	padding-left:15px;
	letter-spacing: 0;
	line-height: 40px;
	box-sizing: border-box;
}

.ued-input-compose{
	box-sizing: border-box;	
	width:320px;
	height:40px;
	position: relative;
}

.ued-input-compose i{
	display: inline-block;
	width:0px;
	height:0px;
	border-top: 5px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: relative;
	top:-2px;
	left:2px;
	cursor: pointer;
	vertical-align: middle;
}

.ued-input-compose ul.none{
	display: none;
}

.ued-input-compose ul{
	display: inline-block;
	position: absolute;
	width:80px;
	box-sizing: border-box;
	height:auto;
	min-height: 40px;
	background-color: white;
	top:39px;
	left:0px;
	border:1px solid #d5d5d5;
}
.ued-input-compose ul li{
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	transition: all .2s linear;
}
.ued-input-compose ul li:hover,
.ued-input-compose ul li.hover{
	background-color: #F5F7FA;
	color:#999;
}

.ued-input-compose.ued-input-compose_bg{
	background-color: #F5F7FA ;
}

.ued-input-compose .ued-input-compose-tag{
	box-sizing: border-box;
	width:80px;
	height:100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	border: 1px solid #DCDFE6;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	font-size: 14px;
	color: #909399;
	letter-spacing: 0;
	line-height: 40px;
	cursor: pointer;
}

.ued-input-compose .ued-input-basic{
	height:100%;
	display: inline-block;
	vertical-align: middle;
	float: left;
	position: absolute;
	left: 79px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ued-input-success,.ued-input-error{
	box-sizing: border-box;	
	width:240px;
	height:40px;
	position: relative;
}

.ued-input-success i{
	display: inline-block;
	width:30px;
	height:30px;
	position: absolute;
	right: 1px;
	bottom: 5px;
	background:url(../images/input_right.png) no-repeat center center;
	background-color: white;	
}

.ued-input-error i{
	display: inline-block;
	width:30px;
	height:30px;
	position: absolute;
	right: 1px;
	bottom: 5px;
	background:url(../images/input_error.png) no-repeat center center;
	background-color: white;	
}

.ued-input-success .ued-input-basic,
.ued-input-success .ued-input-basic:focus{
	border:1px solid #67C23A !important;
}

.ued-input-error .ued-input-basic,
.ued-input-error .ued-input-basic:focus{
	border:1px solid #FA5555 !important;
}

.ued-input-normal .ued-input-basic,
.ued-input-normal .ued-input-basic:focus{
	border:1px solid #d5d5d5;
}

.ued-input-textarea{
	width:400px;
	min-height:80px;
	height:auto;
	border: 1px solid #DCDFE6;
	border-radius: 4px;
	padding:10px 5px;
	line-height: 20px;
	font-size: 16px;
}

/*input end*/

/*radio start*/
.ued-form-radio{
	min-width:50px;
	float: left\8;
	display: inline-block;
	height:14px;
	position: relative;
	cursor: pointer;	
}

.ued-form-radio:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.ued-form-radio.ued-form-radiocheck .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/radio_checked_2.png) no-repeat 0 center / 100%;
	background:url(../images/radio_checked.png) no-repeat 0 center\8;
}

.ued-form-radio.ued-form-radiocheckdis .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/radio_checked_disabled_2.png) no-repeat 0 center / 100%;
	background:url(../images/radio_checked_disabled.png) no-repeat 0 center\8;
}

.ued-form-radio.ued-form-radiouncheck .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/radio_unchecked_2.png) no-repeat 0 center / 100%;
	background:url(../images/radio_unchecked.png) no-repeat 0 center\8;
}

.ued-form-radio.ued-form-radiouncheckdis .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/radio_unchecked_disabled_2.png) no-repeat 0 center / 100%;
	background:url(../images/radio_unchecked_disabled.png) no-repeat 0 center\8;
}

.ued-form-radio .radio-bg{
	position: absolute;
	left:0px;
	top:0px;
}

.ued-form-radio input{
	opacity: 0;
	filter:alpha(opacity=0);
	width:14px;
	height:14px;
	cursor: pointer;
}

.ued-form-radio span{
	font-size: 14px;
	color: #1989FA;
	letter-spacing: 0;
	line-height: 14px;
	height:14px;
	width:auto;
	font-weight: lighter;
	/*position: absolute;*/
	display: inline-block;
	margin-left:10px;
	margin-right: 10px;
}

.ued-form-radio.ued-form-radiouncheck span{
	color:#606266;
}

.ued-form-radio.ued-form-radiocheckdis span,
.ued-form-radio.ued-form-radiouncheckdis span{
	color:#C0C4CC;
}
/*radio end*/

/*checkbox start*/
.ued-form-checkbox{
	display: inline-block;
	min-width:14px;
	width:auto;
	height:14px;
	position: relative;
	cursor: pointer;	
}

.ued-form-checkbox:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.ued-form-checkbox.ued-form-checkboxcheck .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/checkbox_checked_2.png) no-repeat 0 center / 100%;
	background:url(../images/checkbox_checked.png) no-repeat 0 center\8;
}

.ued-form-checkbox.ued-form-checkboxcheckdis .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/checkbox_checked_disabled_2.png) no-repeat 0 center / 100%;
	background:url(../images/checkbox_checked_disabled.png) no-repeat 0 center\8;
}

.ued-form-checkbox.ued-form-checkboxuncheck .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/checkbox_unchecked_2.png) no-repeat 0 center / 100%;
	background:url(../images/checkbox_unchecked.png) no-repeat 0 center\8;
}

.ued-form-checkbox.ued-form-checkboxuncheckdis .radio-bg{
	display: inline-block;
	width:14px;
	height:14px;
	cursor: pointer;
	background:url(../images/checkbox_unchecked_disabled_2.png) no-repeat 0 center / 100%;
	background:url(../images/checkbox_unchecked_disabled.png) no-repeat 0 center\8;
}

.ued-form-checkbox input{
	opacity: 0;
	filter:alpha(opacity=0);
	width:14px;
	height:14px;
	cursor: pointer;
	position: relative;
	left:-14px;
	top:-2px;
}

.ued-form-checkbox span{
	font-size: 14px;
	color: #1989FA;
	letter-spacing: 0;
	line-height: 14px;
	height:14px;
	width:auto;
	font-weight: lighter;
	position: relative;
	left:-5px;
	top:-2px;
}

.ued-form-checkbox.ued-form-checkboxuncheck span{
	color:#606266;
}

.ued-form-checkbox.ued-form-checkboxcheckdis span,
.ued-form-checkbox.ued-form-checkboxuncheckdis span{
	color:#C0C4CC;
}
/*checkbox end*/

/*button start*/
.ued-button-basic{
	display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;    
    outline: none;
    /*margin: 0;*/
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    min-width:99px;
    width:auto;
}

.ued-button-basic:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.ued-button-basic:focus,.ued-button-basic:active{
	opacity:0.7;
	filter: alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.ued-button-basic.ued-button-round{
	border-radius: 100px;
}

.ued-button-empty{
	display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;    
    outline: none;
    /*margin: 0;*/
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    width:99px;
}

.ued-button-basic.ued-button-color1{
	color:white;
	border:0px;
	background-color: #0486FE;	
}

.ued-button-basic.ued-button-color2{
	color:white;
	border:0px;
	background-color: #27B777;	
}

.ued-button-basic.ued-button-color3{
	color:white;
	border:0px;
	background-color: #F56C6C;
}

.ued-button-basic.ued-button-color4{
	border:0px;
	background-color: #EEEFF3;
}

.ued-button-empty.ued-button-color1{
	color: #0486FE;
	background-color : #E6F1FC;
	border: 1px solid #A3D0FD;		
}

.ued-button-empty.ued-button-color2{
	color: #27B777;
	background-color : #F4FFFA;
	border: 1px solid #ACE4CB;	
}

.ued-button-empty.ued-button-color3{
	color:#F56C6C;
	background-color : #FFECED;
	border: 1px solid #FDBBBB;
}

.ued-button-empty.ued-button-color4{
	color: #606266;
	background-color: #FCFCFF;
	border: 1px solid #DCDFE6;
}

.ued-button-basic[disabled],
.ued-button-empty[disabled]{
	cursor: not-allowed;
	opacity: 0.5 !important;
	filter:alpha(opacity=50) !important;
}

.ued-button-basic[disabled]:hover,
.ued-button-empty[disabled]:hover{
	opacity: 0.5 !important;
	filter:alpha(opacity=50) !important;
}

.ued-button-text{
	display: inline-block;
	vertical-align: middle;
	height:40px;
	line-height: 40px;
	text-decoration: none;	
}

.ued-button-text:hover{
	text-decoration: none;
	opacity: 0.8;
	/*filter:alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";*/
}

.ued-button-text[disabled]{
	opacity: 1 !important;
	filter:alpha(opacity=100) !important;
}

.ued-button-text[disabled]{
	cursor: not-allowed;
}

.ued-button-text.ued-button-style1{
	font-size: 14px;
	color: #0486FE;
	letter-spacing: 0;
}

.ued-button-text.ued-button-style2{
	font-size: 14px;
	color: #27B777;
	letter-spacing: 0;
}

.ued-button-text.ued-button-style3{
	font-size: 14px;
	color: #F56C6C;
	letter-spacing: 0;
}

.ued-button-text.ued-button-style4{
	font-size: 14px;
	color: #606266;
	letter-spacing: 0;
}

.ued-button-text.ued-button-style5{
	font-size: 14px;
	color: #D1D1D3;
	letter-spacing: 0;
}

/*button end*/

/*tips start*/
.ued-tips-toast .ued-tips-toast-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.ued-tips-toast .ued-tips-toast-content {
    position: fixed;
    z-index: 5000;
    width: 120px;
    min-height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    top: 50% \0;
    left: 50% \0;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}

.ued-tips-toast .ued-tips-toast-icon.ued-tips-toast-loading {
    margin: 30px 0 0;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
}

.ued-tips-toast .ued-tips-toast-loading {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    animation: weuiLoading 1s steps(12, end) infinite;
    background: transparent url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E") no-repeat;
    background-size: 100%;

    &.weui-loading_transparent,
    .weui-btn_loading.weui-btn_primary &,
    .weui-btn_loading.weui-btn_warn &
    {
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cpath fill='none' d='M0 0h100v100H0z'/%3E%3Crect xmlns='http://www.w3.org/2000/svg' width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.56)' rx='5' ry='5' transform='translate(0 -30)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.5)' rx='5' ry='5' transform='rotate(30 105.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.43)' rx='5' ry='5' transform='rotate(60 75.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.38)' rx='5' ry='5' transform='rotate(90 65 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.32)' rx='5' ry='5' transform='rotate(120 58.66 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.28)' rx='5' ry='5' transform='rotate(150 54.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.25)' rx='5' ry='5' transform='rotate(180 50 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.2)' rx='5' ry='5' transform='rotate(-150 45.98 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.17)' rx='5' ry='5' transform='rotate(-120 41.34 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.14)' rx='5' ry='5' transform='rotate(-90 35 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.1)' rx='5' ry='5' transform='rotate(-60 24.02 65)'/%3E%3Crect width='7' height='20' x='46.5' y='40' fill='rgba(255,255,255,.03)' rx='5' ry='5' transform='rotate(-30 -5.98 65)'/%3E%3C/svg%3E");
    }
}

@-webkit-keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes weuiLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
.ued-tips-toast .ued-tips-toast-text {
    margin: 15px 0;
    font-size: 14px;
}
/*tips end*/

.ued-tag-basic{
	box-sizing: border-box;	
	width:auto;
	min-width: 160px;
	height:40px;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
}
svg path,svg rect{
	fill: #ff6700;
}